* {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

*::-webkit-scrollbar {
	display: none;
}
#root {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
}
a {
	text-decoration: none;
}
.left-nav {
	width: 15%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: linear-gradient(0deg, #00c3ff, #75777c);
}

.right-section {
	width: 85%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

/* top nav */
.top-nav {
	width: 100%;
	height: 10%;
	background: #000;
	display: flex;
	align-items: center;
	background-color: white;
	box-shadow: 4px 3px 10px gray;
}
.top-nav h5{
	margin-left: 6rem;
	font-weight: 600;
}
#grade,
#tech {
	width: 100px;
	height: 40px;
	cursor: pointer;
	font-size: 1rem;
	outline: none;
}
#grade option {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
}

/* main */
.main {
	width: 100%;
	height: 90%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;

}
.filter-breadcrumb {
	width: 85%;
	min-height: 5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: rgb(73, 73, 73);
}
.breadcrumb {
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	
}
.breadcrumb h2 {
	margin: 0 5px;
	font-size: 14px;
	font-weight: 600;
}
.filters {
	width: 70%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.filters select {
	min-width: 300px;
	background-color: #edfcff;
	outline: none;
	height: 200px;
	border: none;
	border-radius: 4px;
	color: rgb(58, 58, 58);
	padding: 5px 20px;
}

.filters option {
	background: white;
	color: black;
	border-radius: 4px;
	outline: none;
	border: none;
	padding: 1rem;
	-webkit-box-shadow: 6px 9px 5px 0px rgba(240, 240, 240, 1);
	-moz-box-shadow: 6px 9px 5px 0px rgba(240, 240, 240, 1);
	box-shadow: 6px 9px 5px 0px rgba(240, 240, 240, 1);
}

main {
	width: 80%;
	min-height: 400px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 20px;
	box-shadow: 1px -1px 10px gray;
}

.main-1 {
	min-width: 100%;
	height: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.main-2 {
	min-width: 60%;
	height: 70%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: absolute;
	background-color: #eff7ff;
	padding: 0 40px;
	box-sizing: border-box;
	border-radius: 10px;
	backdrop-filter: blur(10px);
	box-shadow:
  0 3.4px 9.7px -9px rgba(0, 0, 0, 0.09),
  0 8.5px 24.6px -9px rgba(0, 0, 0, 0.062),
  0 17.4px 50.2px -9px rgba(0, 0, 0, 0.05),
  0 35.8px 103.3px -9px rgba(0, 0, 0, 0.04),
  0 98px 283px -9px rgba(0, 0, 0, 0.028)
;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.box {
	min-width: 210px;
	height: 240px;
	margin: 10px 0;
	border: none;
	border-radius: 10px;
	background-color: white;

	box-shadow:
  0 3px 2.9px rgba(0, 0, 0, 0.008),
  0 7.2px 6.8px rgba(0, 0, 0, 0.012),
  0 13.6px 12.9px rgba(0, 0, 0, 0.015),
  0 24.3px 23px rgba(0, 0, 0, 0.018),
  0 45.5px 43px rgba(0, 0, 0, 0.022),
  0 109px 103px rgba(0, 0, 0, 0.03)
;
	text-align: center;
  background-size: cover;
  background-position: center;
}

/* .box:nth-child(2){
	background-image: url('./project.png');
}
.box:nth-child(3){
	background-image: url('./onepager.jpg');
}
.box:nth-child(4){
	background-image: url('./slide.png');
} */

.box a {
	width: 100%;
	height: 80%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: flex-end;
	font-weight: 600;
}
.arrow {
	width: 100%;
	height: 60px;
	font-size: 20px;
	margin-bottom: 20px;
	color: rgb(70, 69, 69);
}
.back-btn {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 50px;
	left: 40px;
	font-size: 40px;
	border-radius: 50px;
	cursor: pointer;
	color: rgb(87, 87, 87);
}
/* from UI libraries */
.MuiAccordion-root.Mui-expanded {
	margin: 0 !important;
}
/* for logo */
.logo {
	margin-left: -1.5rem;
}

